/*****************************************************************************
  Mel's Kitchen
******************************************************************************/


@import '../../bower_components/bourbon/dist/_bourbon.scss';
@import '../../bower_components/neat/app/assets/stylesheets/_neat.scss';


nav {
	overflow: auto;
	background-color: #008080;
}

.header_bar_1 {
	font-family: Verdana;
	color: white;
	float: left;
}

.header_bar_2 {
	font-family: Verdana;
	color: white;
	float: right;
	ul {
		li {
			display: inline-block;
		}
	}
}

.main {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	img {
		border-radius: 75%;
	}

}

.content {
	width: 500px;
	margin: auto;
}

.recipe_image {
	padding: 5px;
}

.recipe_prep {
	font-size: .75em;
	line-height: 1.5;
	ul {
		list-style: none;
	}
}

.recipe_summary {
	font-size: .75em;
	line-height: 1.5;
	text-align: left;
	padding-left: 2.5%;
}

.facebook {
	max-height: 30px;
	max-width: 30px;
}

.instagram {
	max-height: 30px;
	max-width: 30px;
}

.pinterest {
	max-height: 30px;
	max-width: 30px;
}

.twitter {
	max-height: 30px;
	max-width: 30px;
}

ul {
	list-style-type: none;
}

p {
	padding: 5px;
}

tbody {
	display: inline-block;
}

