/*****************************************************************************
  Mel's Kitchen
******************************************************************************/


@import '../../bower_components/bourbon/dist/_bourbon.scss';
@import '../../bower_components/neat/app/assets/stylesheets/_neat.scss';


nav {
	overflow: auto;
	background-color: #008080;
}

.header_bar_1 {
	font-family: Verdana;
	color: white;
	float: left;
}

.header_bar_2 {
	font-family: Verdana;
	color: white;
	float: right;
	ul {
		li {
			display: inline-block;
		}
	}
}


.main {
	text-align: center;
}

.content {
	width: 500px;
}

.recipe_image {
	padding: 5px;
	border-radius: 100%;
}

.facebook {
	max-height: 30px;
	max-width: 30px;
}

.instagram {
	max-height: 30px;
	max-width: 30px;
}

.pinterest {
	max-height: 30px;
	max-width: 30px;
}

.twitter {
	max-height: 30px;
	max-width: 30px;
}

ul {
	list-style-type: none;
	float: right;
	display: inline;
}

p {
	padding: 5px;
}